/* added by ed*/
/*********************
  Media Query Classes
**********************/

.hasBg {
    background: url('../images/bg.png') 50% 70% no-repeat;
}
.m-y {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.p-a {
    padding: 1.5rem;
}
.p-y {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center;
  }
}

h1 {
  font-size: 1.5rem !important;
  color: #1B8AAE;
  margin: 0;
}
.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.valign-wrapper .valign {
    display: block;
}

.userPhoto {
    border-radius: 5px;
    width: 30px;
    margin-right: 3px;
}

nav .brand-logo {
    max-height: 100%;
}

#nav-mobile {
    padding: 5px;
}

#nav-mobile a {
    font-weight: 200;
    color: #bbb;
    padding-top: 2px;
    font-family: arial, Helvetica !important;
}

nav {
    color: #1B8AAE;
    background-color: none;
    position: fixed;
    width: 100%;
    height: 40px;
    /*line-height: 40px;*/
    top: 0;
    font-size: 0.8rem;
    z-index: 10000;
}

nav.nav-extended {
    height: auto;
}

nav.nav-extended .nav-wrapper {
    height: auto;
}

nav a {
    color: #1B8AAE;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: none;
    }
}

nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

nav .button-collapse i {
    height: 56px;
    line-height: 56px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo.left,
    nav .brand-logo.right {
        padding: 0;
        -webkit-transform: none;
        transform: none;
    }
    nav .brand-logo.left {
        left: 0.5rem;
    }
    nav .brand-logo.right {
        right: 0.5rem;
        left: auto;
    }
}

nav .brand-logo.right {
    right: 0.5rem;
    padding: 0;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"],
nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
    float: left;
    margin-right: 15px;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav ul li {
    transition: background-color .3s;
    float: left;
    padding: 0;
}

nav ul li.active {
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul a {
    transition: background-color .3s;
    display: block;
    /*padding: 0 5px;*/
    cursor: pointer;
}

nav ul a.btn,
nav ul a.btn-large,
nav ul a.btn-large,
nav ul a.btn-flat,
nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul.left {
    float: left;
}

nav form {
    height: 100%;
}

nav .input-field {
    margin: 0;
    height: 100%;
}

nav .input-field input {
    height: 100%;
    font-size: 1.2rem;
    border: none;
    padding-left: 2rem;
}

nav .input-field input:focus,
nav .input-field input[type=text]:valid,
nav .input-field input[type=password]:valid,
nav .input-field input[type=email]:valid,
nav .input-field input[type=url]:valid,
nav .input-field input[type=date]:valid {
    border: none;
    box-shadow: none;
}

nav .input-field label {
    top: 0;
    left: 0;
}

nav .input-field label i {
    color: rgba(255, 255, 255, 0.7);
    transition: color .3s;
}

nav .input-field label.active i {
    color: #fff;
}

nav .input-field label.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.navbar-fixed {
    position: relative;
    height: 56px;
    z-index: 997;
}

.navbar-fixed nav {
    position: fixed;
}


/*******************
  ADD
*******************/

.adding {
    padding: 50px 20px;
    background: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}


/*******************
  Utility Classes
*******************/

.hide {
    display: none !important;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center,
.center-align {
    text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.no-select,
input[type=range],
input[type=range] + .thumb {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circle {
    border-radius: 50%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-padding {
    padding: 0 !important;
}

.clearfix {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}

.z-depth-0 {
    box-shadow: none !important;
}

.z-depth-1,
.card-panel,
/*.card,*/
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half,
.btn:hover,
.btn-large:hover,
.btn-floating:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4,
.modal {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
}

.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.card-panel {
    transition: box-shadow .25s;
    padding: 20px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.card {
    position: relative;
    /*margin: 0.5rem 0 1rem 0;*/
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.card .card-title.activator {
    cursor: pointer;
}

.card.small,
.card.medium,
.card.large {
    position: relative;
}

.card.small .card-image,
.card.medium .card-image,
.card.large .card-image {
    max-height: 60%;
    overflow: hidden;
}

.card.small .card-image + .card-content,
.card.medium .card-image + .card-content,
.card.large .card-image + .card-content {
    max-height: 40%;
}

.card.small .card-content,
.card.medium .card-content,
.card.large .card-content {
    max-height: 100%;
    overflow: hidden;
}

.card.small .card-action,
.card.medium .card-action,
.card.large .card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.card.small {
    height: 300px;
}

.card.medium {
    height: 400px;
}

.card.large {
    height: 500px;
}

.card.horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.card.horizontal.small .card-image,
.card.horizontal.medium .card-image,
.card.horizontal.large .card-image {
    height: 100%;
    max-height: none;
    overflow: visible;
}

.card.horizontal.small .card-image img,
.card.horizontal.medium .card-image img,
.card.horizontal.large .card-image img {
    height: 100%;
}

.card.horizontal .card-image {
    max-width: 50%;
}

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: auto;
}

.card.horizontal .card-stacked {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.card.horizontal .card-stacked .card-content {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.card.sticky-action .card-action {
    z-index: 2;
}

.card.sticky-action .card-reveal {
    z-index: 1;
    padding-bottom: 64px;
}

.card .card-image {
    position: relative;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card .card-content p {
    margin: 0;
    color: inherit;
}

.card .card-content .card-title {
    line-height: 48px;
}

.card .card-action {
    position: relative;
    background-color: inherit;
    /*border-top: 1px solid rgba(160, 160, 160, 0.2);*/
    /*padding: 20px;*/
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #ffd8a6;
}

.card .card-reveal {
    padding: 20px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.card .card-reveal .card-title {
    cursor: pointer;
    display: block;
}


/* END added by ed*/

.QuestionFlow > div.faded {
    opacity: 0.5;
    -webkit-transition: all 1s;
    transition: all 1s;
    filter: grayscale(100%);
    -webkit-backface-visibility: hidden;
}

.QuestionFlow > div.faded.focus {
    position: relative;
    opacity: 1;
    filter: grayscale(0);
    -webkit-backface-visibility: hidden;
}

.QuestionFlow .percentageCompleted {
    color: #818a91;
    margin: 8px 0 2px 0;
    display: block;
}

.QuestionFlow .percentageCompleted span {
    font-weight: bold;
}

.QuestionFlow .Footer {
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 0;
    left: 0;
    /*background: rgba(255,255,255,0);*/
    background: #fafafa;
    border-top: 1px solid #eee;
    pointer-events: none;
    z-index: 25;
    animation: fadeInFooter 2s;
    animation-iteration-count: 1;
}

@keyframes fadeInFooter {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.QuestionFlow .Footer * {
    /*opacity: 0.5;*/
    pointer-events: all;
    transition: all 0.2s ease-in-out;
    font-size: 0.7rem;
}

.QuestionFlow .Footer a,
.QuestionFlow .Footer button {
    padding: 0 !important;
    height: 40px !important;
    width: 35px !important;
}

.QuestionFlow .Footer *:hover {
    opacity: 1;
}

.QuestionFlow .Footer .Logo {
    height: 30px;
    width: 28px;
    margin: 5px;
    background-image: url('../images/represent_logo_cube.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.QuestionFlow .Footer .Logo:hover {
    cursor: pointer;
    cursor: hand;
}

.QuestionFlow .Footer .FlowLogo {
    height: 40px;
    margin: 0 0 10px 10px;
    line-height: 40px;
    padding: 6px 0 0 50px;
    background-size: 50px;
    background-repeat: no-repeat;
}

.QuestionFlow .Footer .FooterLeft {
    width: 40%;
    bottom: 0;
    left: 0px;
    height: 40px;
    text-align: left;
    position: absolute;
}

.QuestionFlow .Footer .FooterCenter {
    width: 20%;
    font-family: arial, Helvetica !important;
    bottom: 0;
    left: 40%;
    height: 40px;
    text-align: center;
    position: absolute;
}

.QuestionFlow .Footer .FooterCenter .FakeLink {
    font-size: 14px;
    line-height: 18px;
}

.QuestionFlow .Footer .FooterRight {
    width: 40%;
    bottom: 0;
    right: 0px;
    height: 40px;
    text-align: right;
    position: absolute;
}

.QuestionFlow .Footer .Logo:hover {
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
}
