.MCQButton {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #aaa;
  text-align: left;
  padding: 7px 15px 7px 40px;
  box-sizing: border-box;
  font-weight: 400;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;

   background: #fff url('../images/mcqbg.png') no-repeat -50px center;
  
}
 
.MCQButton.selected {
  border-color: #1B8AAE;
  color: #1B8AAE;
}

.MCQButton:hover {
  cursor: pointer; cursor: hand;
  border-color: #1B8AAE;
  box-shadow: 0 0 5px #1B8AAE;
}

.MCQButton:active {
  box-shadow: 0 0 20px #1B8AAE;
}

.MCQButton:hover { 
   background: #f5f5f5 url('../images/mcqbg.png') no-repeat 10px center;
}
 