.Notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  visibility: visible;
}

.NotificationBody  .title {
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
  color: #257D9F;
  font-weight: 300;
}

.CloseNotification {
  float: right;
  margin-right: 20px;
  margin-top: -35px;
  font-size: 30px;
  font-weight: bold;
  color: #257D9F !important;
  transition: 0.3s all;
}

.CloseNotification:hover {
  opacity: 0.5;
  cursor: pointer; cursor: hand;
}

.NotificationBody {
  width: 100%;
  animation: NotificationInset 0.5s ease-in;
  animation-iteration-count: 1;
  height: 100%;
  overflow: scroll;
}

.Notification .Inset {
  opacity: 1;
  width: 98%;
  margin: 0 auto;
  border-radius: 5px;
  margin: 10px auto;
}

.Notification .Inset.full {
  width: calc(100% - 40px);
  margin: 0 20px;
  height: calc(80vh - 20px);
  overflow: scroll;
  text-align: left;
}

.Notification button {
  background: linear-gradient(306deg, rgba(67,206,162,0.8) 0%, rgba(24,90,157,0.8) 100%);
  color: white;
  border: 1px solid rgba(81, 203, 238, 1);
}

.Notification button.closeBtn {
  background: linear-gradient(306deg, rgba(140, 67, 206, 0.8) 0%, rgba(157, 24, 24, 0.8) 100%);
}

.Notification.closing {
  animation: NotificationBgClose 1s ease-out;
  animation-iteration-count: 1;
}

.Notification.closing .NotificationBody {
  animation: NotificationInsetClose 1s ease-out;
  animation-iteration-count: 1;
}

@keyframes NotificationInset {

  0% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

@keyframes NotificationBg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes NotificationInsetClose {

  100% {
    margin-top: -200vh;
  }

  80% {
    margin-top: -200vh;
  }

  20% {
    margin-top: 20px;
  }

  0% {
    margin-top: 0;
  }
}

@keyframes NotificationBgClose {
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  0% {
    opacity: 1;
  }
}
