.RegisterForm {
	height: 100%;
	overflow: scroll;
}

.RegisterForm .card {
	padding: 0;
}

.RegisterForm .card-text {
	padding: 40px 20px;
}

.RegisterForm .card-action {
	background: #f5f5f5;
	padding: 0 20px 20px 20px;
}

.RegisterForm .card-action:hover {
	background: #fff;
}

.RegisterForm input:focus, textarea:focus {
    box-shadow: 0 0 0 !important;
    border: 0 !important;
}
.RegisterForm .textInput label {
    top: 30px !important
}
.RegisterForm .fullWidth {
	width: 100% !important;
}
.RegisterForm .TOC {
	height: 60px
}
.RegisterForm .TOC label {
	cursor: pointer
}
.RegisterForm .Checkboxed {
	width: initial !important;
	float: left;
	margin: 5px 0 20px 0;
}
.RegisterForm .CheckboxedLabel  {
	margin: 0;
	font-weight: 300;
	font-size: 0.9rem;
}
.RegisterForm .CheckboxedLabel a {
	color: #1B8AAE !important;
	text-transform: none !important;
	margin: 0 !important;
}

.RegisterForm .dob {
	float: left;
	width: 100%;
}

.RegisterForm .dobSelect {
	float: left;
	width: 20% !important;
	margin-right: 15px;
}

.RegisterForm .avatar-container {
	display:flex;
}

.RegisterForm .avatar-img {
	margin: 0 auto;
}

h3 {
	margin-bottom: 0;
	color: #1B8AAE ;
	font-weight: 400;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}
