body {
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue', sans-serif;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

fieldset {
  border: 0;
  padding: 0;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  font-weight: bold;
}

input[type=text], input[type=password], input[type=email], textarea {
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  appearance: none;
  transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

textarea {
  padding: 10px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

textarea {
  resize: vertical;
}

select {
  font-weight: bold;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -webkit-transition: all 0.30s ease-in-out;
  background: white;
  outline: none;
  border: 1px solid #DDDDDD;
  height: 38px;
}

option {
  font-weight: bold;
}

a, .FakeLink {
  color: #0D4456;
  transition:color .1s ease-in;
  text-decoration: none;
  box-shadow: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

a:hover, .FakeLink:hover {
  color: #1B8AAE;
  cursor: pointer; cursor: hand;
}

a:active {
  text-shadow: 0 0 20px rgba(81, 203, 238, 1);
}

button {
  padding: 10px 10px 10px 10px;
  background-color: white;
  margin-right: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  appearance: none;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  font-weight: bold;
  outline: 0;
  height: 38px;
  box-sizing: border-box;
  cursor: pointer;
}

button:last-child {
  margin-right: 0;
}

button:hover {
  /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);*/
  opacity: 0.5;
}

/*button:active {
  box-shadow: 0 0 20px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}*/

.small {
	font-weight: 200;
	font-size: 0.9rem;
	font-family: Roboto, sans-serif;
}

.aboutNotes {
  padding: 10px 10px 10px 10px;
  max-width: 500px;
  margin: 0 auto;
}

button.secondary {
  color: #999999;
   height: 36px;
  border-radius: 2px;
  border:0;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  box-shadow: 2px 2px 3px #ccc;
  padding: 0 10px;
  font-weight: normal;
}

.text-center {
	text-align: center;
}

.muted {
  color: #999;
}

.small {
  font-size: 0.8rem;
}

button.facebook {
  background-color: #3B5898;
  color: white;
  height: 36px;
  border-radius: 2px;
  border:0;
  font-family: Roboto, sans-serif;
  line-height: 36px;
  box-shadow: 2px 2px 3px #ccc;
  padding: 0 16px;
  margin: 18px auto;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

button.facebook:hover {
  box-shadow: 2px 2px 4px #444;
  border:0;
}

button.google {
  background-color: #DF4A32;
  color: white;
}

button.google:hover {
  box-shadow: 2px 2px 3px #DF4A32;
  border: 1px solid #DF4A32;
}

.Inset {
  background-color: white;
  padding: 20px 20px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.2);
  color: #777;
}

.Label {
  height: 24px;
  box-sizing: border-box;
  float: left;
  display: inline-block;
  font-size: 12px;
  background-color: #257D9F;
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin-right: 5px;
}

.Label.minimal {
  background-color: white;
  color: #257D9F;
  border: 1px solid #257D9F;
}

.Label.attachedLeft {
  position: relative;
  padding-left: 10px;
  margin-left:-5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  z-index: 1;
}

.Label img {
  height: 100%;
}

.card {
  margin: 20px auto
}

@media (max-width:600px) {
  .card {
    margin: 0 0;
  }
}
